
body {
  font: 10px sans-serif;
  margin: 0;
}

svg {
	display: block;
	clear: all;
}

.line {
  fill: none;
  stroke: #08519c;
  stroke-width: 1.5px;
}

.area {
  fill: black;
}

.label {
	font-weight: bold;
}	

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: black;
  stroke-width: 1px;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.tooltip{
	text-anchor: end;
}