body {
	width: 400px;
	margin: 0px;
	font-family: sans-serif;
}

.image div {
	position: float;
	display: block;
	clear: left;
	padding:0px;
	text-align:center;
}

svg{
	position: fixed;
	width: 400px;
	height: 400px;
	text-align:center;
}