
html, body {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

#map {
	width: 100%;
	height: 100%;
}

.leaflet-container {
    background: black;
}


.legend  {
	color: white;
	font: 10px sans-serif;
	text-align: right;
	line-height: 1px;
}

.leaflet-popup-content-wrapper {
		pointer-events: none;
}

.legend-title{
	color: white;
	font: 20px sans-serif;
	text-align: left;
}

.legend-text {
	color: white;
	font: 14px sans-serif;
	text-align: left;
}

span {	
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 8px;
	opacity: 0.9;
	vertical-align: middle;
}

p {
	margin: 0;
	padding: 0;
}

.attribText {
	color: white;
	font: 14px sans-serif;
	text-align: left;
}