body {
  background: #FAFFFB;
}

text {
	font-family: sans-serif;
	font-size: 14;
	font-weight: bold;
}

option{
	color: blue;
}

.overlay {
	pointer-events: none;
}

p {
    font-family: Arial, sans-serif;
	font-size: 10;
} 

.loading {
	font-family: Arial, sans-serif;
	font-size: 36;
}